@font-face {
    font-family: 'Source Code Pro', monospace;
}

@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("../fonts/iconfont/icofont.woff2") format("woff2"),
        url("../fonts/iconfont/icofont.woff") format("woff");
}